

@{
}


<form method="post">
    <label asp-for="Task">Task:</label>
    <input asp-for="Task" type="text">
    <br>
    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate" type="date">
    <br>
    <label asp-for="Quadrant">Quadrant:</label>
    <select asp-for="Quadrant">
        <option value="">Select a Quadrant</option>
        <option value="1">Urgent/Important</option>
        <option value="2">Not Urgent/Important</option>
        <option value="3">Urgent/Not Important</option>
        <option value="4">Not Urgent/Not Important</option>
    </select>
    <br>
    <label asp-for="Category">Category:</label>
    <select asp-for="Category">
        <option value="">Select a Quadrant</option>
        <option value="School">School</option>
        <option value="Home">Home</option>
        <option value="Work">Work</option>
        <option value="Church">Church</option>
    </select>
    <br>
    <label asp-for="Completed">Completed:</label>
    <select asp-for="Completed">
        <option value="">Select Option</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    
    
    <button class="btn btn-info" type="submit">Create Task</button>
</form>