@model Mission08_Team0207.Models.TaskItem
<h1>Confirm Deletion</h1>
<h3>@Model.TaskName</h3>
<form method="post">
    <input type="hidden" asp-for="TaskId"></input>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Cancel</a>
</form>
